[Desktop Entry]
Name=Buchable
Comment=The unofficial cross-platform app for Audiobookshelf
Exec=abs_flutter
Icon=io.github.vito0912.abs_flutter
Terminal=false
Type=Application
Categories=Audio;
