[Desktop Entry]
Version=1.0
Type=Application
Name=LibrePods
Comment=AirPods libreated from Apple's ecosystem
Exec=librepods
Icon=me.kavishdevar.librepods
Terminal=false
Categories=Audio;AudioVideo;Utility;Qt;
